/* 3. Position the wheel on the left edge */
.ship-wheel {
  opacity: 0.5; /* Adjust opacity as needed */
  position: fixed;
  top: 50%;
  left: 0;
  width: 250px; /* Adjust size to fit your design */
  height: 250px;
  transform: translate(-50%, -50%);

  /* Link your PNG image here */
  background-image: url("../../assets/images/Ship-wheel-Illustration-on-transparent-background-PNG.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ship-wheel2 {
  opacity: 0.5; /* Adjust opacity as needed */
  position: fixed;
  top: 50%;
  right: 0;
  width: 250px; /* Adjust size to fit your design */
  height: 250px;
  transform: translate(-50%, -50%);

  /* Link your PNG image here */
  background-image: url("public/Ship-wheel-Illustration-on-transparent-background-PNG.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
    .ship-wheel,
    .ship-wheel2 {
        display: none;
    }
}